@import url('https://fonts.googleapis.com/css2?family=PT+Serif');
@import url('https://fonts.googleapis.com/css2?family=Rubik');

@font-face {
    font-family: 'CircularStd-Book';
    src:url('../fonts/Circular/Circular/CircularStd-Book.otf') format('otf');
}

@font-face {
    font-family: 'CircularStd-Medium';
    src:url('../fonts/Circular/Circular/CircularStd-Medium.otf') format('otf');
}

@tailwind base;
@tailwind components;
@tailwind utilities;

